doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
        h1= title

        form(method='GET' action='/delete')
            div.form-group
                label(for='UserId') UserId:
                input#userid.form-control(type='text', placeholder='User id' name='userid'  )
            div.form-group
                label(for='userName') UserID:
                select#username.form-control(type='select' placeholder='Select User' name='userid2'  )
                  
            button.btn.btn-primary(type='submit') Submit
        if errors 
            ul
            for error in errors
                li!= error.msg