
  <!DOCTYPE html>
  <html>
      <style>
  .button {
      background-color: #4CAF50;/* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
  .button2 {
      background-color: rgb(235, 32, 25); 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
      </style>
  <body>
  
  <h3 >WELCOME </h3>
  <form action="http://127.0.0.1:3000/retrive" method="get" id="nameform2">
  </form>
  <form action="http://127.0.0.1:3000/updateIndex" method="get" id="nameform4">
  </form>
  <form action="http://127.0.0.1:3000/logout" method="get" id="nameform5">
  </form>
  <button  class="button" type="submit" form="nameform2" value="SHOW">SHOW</button>
  <button  class="button" type="submit" form="nameform4" value="UPDATE">Update</button>
  <button class="button2" type="submit" form="nameform5" value="LOGOUT">LOGOUT</button>
  </body>
  </html>